__pycache__/

# Distribution / packaging
.Python
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# pyenv
.python-version
pyenv.confg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project-specific exceptions
tweet_log.json
*.ipynb
